extends main.pug

block css
  <link rel="stylesheet" type="text/css" href="css/stiller.css">
  <link rel="stylesheet" type="text/css" href="css/hakkimizda.css">

block content
  <ul class="hakkimizda">
    <li>
      <div class="konu">
        <h2>Welcome to Mercode!</h2>
        <p style="font-size: 14px;">Mercode is a non-profit open source software foundation which gathers coders, hackers, activists, makers and designers worldwide. Also it is the Turkish name of planet Mercury, the first planet of the solar system.</p>
        <a href="#" class="button"><i class="fa fa-play" aria-hidden="true"></i>  Watch Video</a>
      </div>
    </li>
    <li>
      <div class="konu">
        <h2><strike>Not A Company, A Brand or A Venture</strike>, A Community!</h2>
        <p style="font-size: 14px;">Mercode is not an enterpreneurship, company or a brand and is very strict about your privacy and rights. Mercode’s cause is to dominate the world with decentralised internet friendly open source products and people using them in order to crush the monopoly of companies like Microsoft, Apple and Google. The Mercode team keeps working for achieving this cause of humanity.</p>
        <a href="join.pug" class="button"><i class="fa fa-handshake-o" aria-hidden="true"></i>  Join</a>
      </div>
    </li>
    <li>
      <div class="konu">
        <h2>We Survive With Your Donations!</h2>
        <p style="font-size: 14px;">Mercode and its subprojects are existing thanks to the donations of our users and team members. So the progression of Mercode is in the hands of the community. If you would like to see this team contributing more to the community, you can donate us on Patreon to help us paying our server bills or to order us a coffee (because we need it after long hours of coding). If Mercode wouldn’t be able to keep contributing, *they* will win.</p>
        <a href="https://www.patreon.com/mercode" class="button"><i class="fa fa-money" aria-hidden="true"></i>  Donate</a>
      </div>
    </li>
    <li>
      <div class="konu">
        <h2>hub.mercode</h2>
        <p style="font-size: 14px;">hub.mercode is a decentralized social network which is made by Mercode team forked from the zot protocol. At this network, every user has the permission of opening channels infinitively (depends to the status of the server). Those channels can be a profile, infographic, forum, blog, wiki and more depending to the needs of the end user. Also there’re official channels opened by Mercode team for newbies to let them socialise.</p>
        <a href="http://register.mercode.org" class="button"><i class="fa fa-sign-in" aria-hidden="true"></i>  Register</a>
      </div>
    </li>
    <li>
      <div class="konu">
        <h2>MerOS</h2>
        <p style="font-size: 14px;">MerOS is an Arch based, modern, apt and yaourt compatible, multi-platform, libertarian operating system. It’s development is started in Turkey by Tan Siret AKINCI in order to replace pro-nationalist operating systems of the government but later it’s development is given to Merith. Now it is the main project of the Mercode team as Merith is the current project leader due to his commits. It’s gonna finish very soon as new features are coming everyday. Until that, ou can test MerOS at Mercode stands during open source exhibitions.</p>
        <a href="#" class="button"><i class="fa fa-download" aria-hidden="true"></i>  Install</a>
      </div>
    </li>
  </ul>
